---
imap_accounts:
  - name: me   
    folder: "INBOX"
    password: "super_S3c4e3t!"
    port: 993
    secure: true
    server: "imap.example.com"
    username: "me@example.com" 
max_attachment_size: 1024
attachment_datastore_ttl: 1800
